*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/logs/
*/logs/13_08_31/PPO_1/events.out.tfevents.1699268911.DESKTOP-GC0AHOC.3052.0
jsbsim-gym-CloseAirCombat/logs/
jsbsim-gym-CloseAirCombat/wandb/
jsbsim-gym-CloseAirCombat/.idea/
*.pyc
CloseAirCombat-master - Copy/
*.gif
CloseAirCombat-master/scripts/results/
CloseAirCombat-master/scripts/train/wandb/
CloseAirCombat-master/tests/
jsbsim-gym-main - Copy/
jsbsim-gym-main/wandb
jsbsim/
*.pt
*/wandb
CloseAirCombat-DSI-RL/scripts/results/SingleControl/1/heading/ppo/v1/wandb/
Path Finder/scenarios/
/CloseAirCombat-master-org
/open-dis-python-master_bu
/BU/Path Finder/scenarios
*.acmi
*.zip
*.txt
jsbsim-gym-CloseAirCombat/requirements.txt
Path Finder/.idea/workspace.xml
/jsbsim-gym-CloseAirCombat/.idea
